/* Gutenberg */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Gutenberg';
  font-display: swap;
  src: url('../fonts/gutenberg/Gutenberg-Regular.ttf') format('truetype'),
    url('../fonts/gutenberg/Gutenberg-Regular.otf') format('embedded-opentype');
}
